
APP_NAME="TeleHealth Consultation System"
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost/Telehealth_Consultation_System/public

DB_HOST=localhost
DB_PORT=3306
DB_NAME=telehealth_db
DB_USER=root
DB_PASS=

SESSION_NAME=TELEHEALTH_SESSION
SESSION_LIFETIME=7200
