vendor/

.env
.env.*
!.env.example
.env.local

logs/*
!logs/.htaccess
*.log

tmp/*
!tmp/.htaccess
tmp/sessions/*
tmp/mail/*

.rnd
.idea/
.vscode/

.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db

cache/

public/uploads/**
!public/uploads/.htaccess

TeleHealth-PNG-production.zip
